<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Principal-Gestor</title>
    <link rel="icon" type="img/png" href="./../../static/img/logo-CEFAT.png">

    <!-- Links Bootstrap CSS/JavaScript -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css
    ">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Links CSS -->
    <link rel="stylesheet" href="./..//../static/css/gestor-principal.css">

</head>
<body>
    <header>
        <div>
            <img src="./../../static/img/logo-CEFAT.png" alt="">
        </div>
        <nav>
            <div>
                <p><a href="#">	
                    &#8249;Voltar</a></p>
            </div>
            <div>
                <p><a href="#">link</a></p>
            </div>
            <div>
                <p><a href="#">link</a></p>
            </div>
            <div>
                <p><a href="#">link</a></p>
            </div>

            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Divisão
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">item1</a></li>
                  <li><a class="dropdown-item" href="#">item2</a></li>
                  <li><a class="dropdown-item" href="#">item3</a></li>
                </ul>
              </div>

            <div>
                <img src="" alt="">
            </div>
        </nav>
    </header>
    <main>
        <section>
            <form action="#">
                <input type="text" name="pesquisa" id="pesquisa" placeholder="Pesquisar">
            </form>
            <button>Pesquisar</button>
        </section>

        <section>
            <div>
                <h2>Atacantes</h2>
                <div>
                    <div>
                        <img src="">
                    </div>
                    <div>
                        <img src="">
                    </div>
                    <div>
                        <img src="">
                    </div>
                    <div>
                        <img src="">
                    </div>
                    <div>
                        <img src="">
                    </div>
                </div>
            </div>

            
        </section>
    </main>
</body>
</html>