{% extends 'base.html' %}
{% load static %}
{% block 'title' %} Cadastro de Ocorrencia {% endblock %} 
{% block content %}

{% include 'partials/_cssMenu.html' %}
<link rel="stylesheet" href="{% static 'css/ocorrencia.css' %}">
{% include 'partials/_menu.html' %}
    <h1>Formulário de Ocorrências</h1>
    <form action="{% url 'registrar_ocorrencia' %}" method="POST">
        {% csrf_token %}
        <fieldset class="container">
            <div class="mb-3">
                <label for="disabledSelect" class="form-label">Sala que ocorreu o problema:</label>
                <select id="disabledSelect" name="local" class="form-select">
                    {% for local in local_ocorrencia %}
                        <option value="{{local.id}}">{{local.nome_do_espaco}}</option>
                    {% endfor %}
                      
                </select>
            </div>
            <div class="mb-3">
                <label for="disabledTextInput" class="form-label">Título de Ocorrência:</label>
                <input type="text" id="disabledTextInput" name="detalhes_ocorrencia" class="form-control" placeholder="Informações sobre: ">
                
            </div>
            <div class="mb-3">
                <label for="disabledTextInput" class="form-label">Email do responsável:</label>
                <input type="email" id="disabledTextInput" class="form-control" name="email" placeholder="Ex: seuemail@gmail.com ">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Descrição do Ocorrido</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" name="descricao_ocorrido" rows="3"></textarea>
            </div>
            <div class="mb-3">
                <div>
                    <legend>Nível de Urgência:</legend>
                    <div class="inputs" name="nivel">
                        <div class="urgente">
                            <label for="">Urgência basica</label>
                            <input type="radio" name="nivel" value="B">
                        </div>
                        <div class="urgente">
                            <label for="">Urgência mediana</label>
                            <input type="radio" name="nivel" value="M">
                        </div>
                        <div class="urgente">
                            <label for="">Urgência critica</label>
                            <input type="radio" name="nivel" value="U">
                        </div>
                    </div>
                </div>
            </div>
            <div class="botao">
                <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
            <div class= "img-logo">
                <img src="{% static 'img/cefat.jpeg' %}" alt="Logo do CEFAT">
            </div>
        </fieldset>
    </form>
{% endblock %}