<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>teste</title>
</head>
<body>
        {% if tipo.tipo_u.sigla == 'FAC' %}
            <h1>{{tipo.tipo_u.nome_tipo}}</h1>
            <a href="{% url 'logout' %}">Deslogar</a>
            <a href="{% url 'perfil' %}">Perfil</a>
        {% elif tipo.tipo_u.sigla == 'GES' %}
            <h1>{{tipo.tipo_u.nome_tipo}}</h1>
            <a href="{% url 'logout' %}">Deslogar</a>
            <a href="{% url 'perfil' %}">Perfil</a>
        {% elif tipo.tipo_u.sigla == 'PRF' %}
            <h1>{{tipo.tipo_u.nome_tipo}}</h1>
            <a href="{% url 'logout' %}">Deslogar</a>
            <a href="{% url 'perfil' %}">Perfil</a>
        {% endif %}
</body>
</html>