html,body{
    height: 100%;
    width: 100%;
}

/* CSS DO BODY */
body{
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family:'Montserrat'
}