/* CSS MENU */
.gestor-menu{
    background-color: #b1b1b1;
}

.navegaçao{
    margin-left: 50px;
}

.menu-icon{
    color: white;
}

.perfil{
    display: flex;
    align-items: center;
}

.perfil-img img{
    width: 60px;
    height: 60px;
    border-radius: 50px;
    object-fit: cover;
}

.perfil p{
    margin: 0;
}

.perfil-link, .sair-link{
    display: none;
}

.perfil-button{
    background: none;
    border: none;
}