<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="./bootstrap/bootstrap-3.4.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/SIGAF/static/css/reset.css">
    <link rel="stylesheet" href="/SIGAF/static/css/fontes.css">
    <link rel="stylesheet" href="/SIGAF/static/css/selecao-usuario.css">

    <title>CEFAT - ESCOLHA USUÁRIO DE LOGIN</title>
</head>

<body>
    <section class="users">
        <div>
            <div class="titulos-login">
                <h1>QUAL O TIPO DE USUÁRIO?</h1>
                <h3>ESCOLHA O SEU TIPO DE LOGIN E ACESSE O SISTEMA DE ATLETAS CEFAT</h3>
            </div>
            <div class="user3">
                <div>
                    <a href="./usuario.html"> <img src="/SIGAF/static/img/administrador.png" class="img-thumbnail img-user" alt="Imagem do usuário 1"> </a>
                </div>
                <div>
                    <h4><strong> Administrador </strong></h4>
                </div>
            </div>
            <div class="user2">
                <div>
                    <a href="./usuario.html"> <img src="/SIGAF/static/img/gestor.png" class="img-thumbnail img-user" alt="Imagem do usuário 2"> </a>
                </div>
                <div>
                    <h4><strong> Gestor </strong></h4>
                </div>
                <!-- LOGO CEFAT DO CENTRO -->
                <div>
                   <a href="https://tirolcefat.com/category/talento-nosso/"> <img src="/SIGAF/static/img/logo-CEFAT.png" class="img-thumbnail img-logo" alt="Imagem logo CEFAT"> </a>
                </div>
            </div>
            <div class="user1">
                <div>
                    <a href="./usuario.html"> <img src="/SIGAF/static/img/profissional.png" class="img-thumbnail img-user" alt="Imagem do usuário 3"> </a> 
                </div>
                <div>
                    <h4><strong> Profissional </strong></h4>
                </div>
            </div>
        </div>

    </section>
</body>

</html>