<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="./bootstrap/bootstrap-3.4.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="./css/fontes.css">
    <link rel="stylesheet" href="./css/categoria.css">

    <title>CEFAT - ESCOLHA DE CATEGORIA</title>
</head>

<body>
    <div class="tela-categoria">
        <div class="card-categoria">
            <div class="item-categoria">
                <p>profissional</p>
            </div>
            <div class="item-categoria">
                <p>society</p>
            </div>
            <div class="item-categoria">
                <p>infantil</p>
            </div>
        </div>
    </div>
</body>

</html>